/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    width: 100px;
}

.header_search{ 
    margin-left: 20px;
    flex: 1;
}

.header_form{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;    
    padding: 2px;
}

.header_form-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 5px 20px;
}

.btn i{   
    color: var(--white-color);
}

.header_right{
    display: flex;
}

.header_login-logout{
    margin: 0 20px;
}   

.header_login,
.header_logout{
    font-size: 1.4rem;
    margin: 0 10px;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
}
.header_login::after{
    content: '';
    position: absolute;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100% + 3px);
    right:  -19%;
}
.header_login{

}
.header_logout{

}

.header_cart{
    color: var(--primary-color);
    font-size: 2.2rem;
    position: relative;
    cursor: default;
}
.header_cart-quantity{
    position: absolute;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 0px 5px;
    border-radius: 50%;
    top: -50%;
    right: -3   0%;
}
