/* Header */
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_logo{
    width: 100px;
}

.header_search{ 
    margin: 0 50px;
    flex: 1;
}

.header_form{
    width: 100%;
}

.header_form-input{
    flex: 1;
}

btn.header_form-btn{
    width: 30%;
}

.header_right{

}

.header_login-logout{

}

.header_login{

}

.header_logout{

}

.header_cart{

}
