.products_detail{
    margin-top: 20px;
}
.header_product-title {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.header_product {
    display: flex;
    padding: 4px 0;
    /* width: 30%; */
}

.title1,
.header_product span {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-right: 10px;
}

.sticky_product_title {
    top: calc(var(--header-navbar-wap) + var(--header-menu-list) + 10px);
    position: sticky;
    /* top: 0; */
    right: 0%;
    left: 0%;
    z-index: 10;
    background-color: var(--white-color);
}

.silder_img-products {
    display: flex;
}

.slider_products-thumb {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.slider_products-list {
    list-style: none;
    margin: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.slider_products-list.active {
    border: 1px solid var(--primary-color);
}

.slider_products-link {

}

.slider_products-img {
    width: 100%;
    height: 100%;
}

.imgBox {
    /* float: left; */
    flex: 1;
    width: 100%;
    /* height: 100%; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    overflow: hidden;
}

.slider_products-main {
    width: 100%;
    height: 100%;
}

/* products_detail-content */

.products_detail-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.products_detail-header{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}   

.products_detail-heading{
    font-family: "Trirong",arial,helvetica,clean,sans-serif;
    font-size: 2.6rem;
    line-height: 2.4em;
    letter-spacing: -0.5pt;
    color: var(--text-color);
    font-weight: 400;
}

.products_detail-heading-category{
    font-size: 1.2rem;
    opacity: 0.7;
}

.products_detail-heading-link{
    color: var(--primary-color);
    text-decoration: none;
}

.products_detail-price{
    color: var(--text-color);
    font-size: 2.5rem;
    line-height: 2.25em;
    display: block;
}

.products_detail-title{
    font-size: 1.5rem;
    color: var(--text-color);
    /* opacity: 0.8; */
    font-weight: 100;
    line-height: 2.2rem;
    margin-bottom: 50px;
}

.products_detail-form{

}




.enumber-control {
    border: 1px solid #c1c1c1;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: .25rem;
    border-radius: 0.25rem;
    overflow: hidden;
}
.enumber-control button.items-count {
    cursor: pointer;
    background-color: #000;
    border: none;
    padding: 10px 18px;
    text-align: center;
    line-height: normal;
    font-size: 10px;
    font-weight: bold;
    color: #222;
    height: 100%;
    display: inline-flex;
    display: -webkit-inline-flex;
    background-size: 8px 10px;
    background-repeat: no-repeat;
    background-position: center;
}
.enumber-control .qty {
    font-size: 0.875rem;
    padding: 0 5px 1px;
    height: 100%;
    border: none;
    text-align: center;
    width: 75px;
    vertical-align: top;
    background-color: #fff;
    border-radius: 0;
    color: #000;
    display: inline-flex;
    display: -webkit-inline-flex;
}