/* Mobile and Tablet */
@media (max-width: 1023px) {
    .sticky {
        display: none;
    }

    .header {
        height: 94px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {


    .header_login-logout {
        display: none;
    }

    .header_cart {
        margin: 0 30px;
    }

    .header_logo {
        display: none;
    }

    .link_none,
    .logo_none {
        display: none;
    }

    /* nav__mobile-search */

    .nav-menu-search {
        display: flex;
        align-items: center;
    }

    .nav__mobile-search {
        display: none;
        margin: 0 5px;
        padding: 10px;
    }

    .nav__mobile-search-img {
        width: 25px;
        margin: 0;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }

    #mobile__search:checked~.header__search {
        display: flex;
    }


}

/* Mobile */
@media (max-width: 739px) {
    .header_login-logout {
        display: none;
    }

    .header_logo {
        display: none;
    }

    .link_none,
    .logo_none {
        display: block;
        width: 100px;
        margin: 0 30px 0 10px;
    }
}